[main]
gpgcheck={% if baseline_repo_gpgcheck %}1{% else %}0{% endif %}

installonly_limit={{ baseline_repo_installonly_limit }}
clean_requirements_on_remove={% if baseline_repo_remove_dependencies %}1{% else %}0{% endif %}

{% if baseline_repo_exclude_from_update|length != 0 %}
exclude={% for item in baseline_repo_exclude_from_update %}{{ item }} {%endfor %}
{% endif %}
